@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import "tailwindcss";

.lato-regular {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.lato-bold {
	font-family: "Lato", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.dm-sans-400 {
	font-family: "DM Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

@theme {
	--color-background: #01020b;

	--color-neutral-50: #f0f2f4;
	--color-neutral-100: #e2e6ea;
	--color-neutral-200: #c6cdd4;
	--color-neutral-300: #aab4bf;
	--color-neutral-400: #8f9cab;
	--color-neutral-500: #748495;
	--color-neutral-600: #5e6b7a;
	--color-neutral-700: #47515e;
	--color-neutral-800: #313842;
	--color-neutral-900: #1d2229;
	--color-neutral-950: #13161b;

	--color-primary-50: #eff2fe;
	--color-primary-100: #e1e7fe;
	--color-primary-200: #c9d2fc;
	--color-primary-300: #a9b4f8;
	--color-primary-400: #868df3;
	--color-primary-500: #6a69eb;
	--color-primary-600: #594dde;
	--color-primary-700: #4c3ec4;
	--color-primary-800: #3e359e;
	--color-primary-900: #36327d;
	--color-primary-950: #211d49;

	--color-accent-50: #fbecfe;
	--color-accent-100: #f7ddfd;
	--color-accent-200: #f0b9fb;
	--color-accent-300: #ea8ef9;
	--color-accent-400: #e460f7;
	--color-accent-500: #d62cea;
	--color-accent-600: #aa21ba;
	--color-accent-700: #80168d;
	--color-accent-800: #5c0d65;
	--color-accent-900: #37053d;
	--color-accent-950: #230227;

	--color-destructive: #b3222d;
}
